body{
	font-family: 'Helvetica', 'Arial', sans-serif !important;
}
#navbar{
	background-color: white !important;
	/*padding: 10px;*/
	padding: 30px 10px;
	border-bottom: 4px solid #45165A;
	margin-bottom: 30px;
}
#buscador{
	margin-left: 25%;
	margin-right: 2%;
	width: 500px;
}
#boton-buscar, #cerrar-sesion, #boton-enviar, #boton-reset{
	background-color: #D9C7C7 !important;
	color: #45165A;
	font-weight: bold;
	border: 0;
}
.sobre:hover{
	color: white !important;
}

#lastDiv{
	margin-bottom: 20px;
}
#input-buscar{
	height: 60px;
	padding: auto;
	font-size: 20px !important;
	background-color: #A55453;
	color: white;
}
#input-buscar::placeholder{
	color: white;
}
.mayusculas{
	text-transform: uppercase;
	font-weight: bold;
	color: #45165A;
	padding-bottom: 5px;
}

.autor{
	font-weight: bold;
	padding-bottom: 4px;
	color: #D93D65 !important;
}
.genero{
	text-transform: capitalize;
	padding-bottom: 4px;
}
.valor{
	background-color: #A55453 ;
	font-weight: lighter;
	color: white;
	text-align: center;
	border-radius: 20px;
}

#cerrar-sesion{
	margin-left: 20%;
}
#fila-recomendado{
	
	}
h3,h4{
	padding-bottom: 20px;
	text-decoration: underline black;
}
footer{
	margin-top: 20px;
	border-top: 4px solid #45165A;
}
.card{
	height: 50% !important	;
}


