<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
     <a id="brand-logo" class="navbar-brand" href="#">
      <img src="../assets/Logo.png" alt="" width="120" height="60" class="d-inline-block align-text-top">      
    </a>
 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">   
      <form id="buscador" class="d-flex sm-4 me-8">
        <input id="input-buscar" class="form-control me-1" type="search" placeholder="Buscar libro, género o autor" aria-label="Search">
        <button id="boton-buscar" class="btn btn-outline-success sobre" type="submit">Buscar</button>
      </form>
      <button class="btn btn-outline-danger sobre" id="cerrar-sesion" type="submit">Cerrar Sesión</button>
    </div>
  </div>
</nav>

<section>
		
		
<div class="container mx-auto mt-4">
		<div id="fila-recomendado" class="row">
		<h3>Recomendado: Más vendidos</h3>
		</div>
  <div class="row mb-5">
		 <div class="col-md-4" *ngFor = "let data of libros">
			<div class="card" style="width: 18rem;">
			  <img src="{{data.imagen}}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h6 id= "titulo-libro"  class="card-title mayusculas">{{data.titulo}}</h6>
			    <h6 id ="autor-libro" class="card-subtitle mb-2 text-muted autor">{{data.autor}}</h6>
			    <h6 id= "genero-libro"class="card-subtitle mb-2 genero">Género : {{data.genero}}</h6>	
			    <h6 id= "cantidad-libro" class="card-subtitle mb-2 ">Cantidad : {{data.cantidad}}</h6> 
			    <p id="valor-libro" class="card-text valor">Valor: {{data.valor}}.</p>
			    <a style="text-align: center" href="#" class="btn mr-2"><i class="fas fa-link"></i> Ver más</a>			    
			  </div>
			</div>
		</div>
	</div>		    
		


	
	<div class="row col-md-11">

		<h4>LIBROS REGISTRADOS</h4>
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Título</th>
		      <th scope="col">Género</th>
		      <th scope="col">Autor</th>
		      <th scope="col">Cantidad</th>
		      <th scope="col">Valor</th>
		      <th scope="col">Imagen</th>
		      <th scope="col">Acciones</th>

		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor ="let i of libros;let num = index" >
		      <th scope="row">{{i._id}}</th>
		      <td>{{i.titulo}}</td>
		      <td>{{i.genero}}</td>
		      <td>{{i.autor}}</td>
		      <td>{{i.cantidad}}</td>
		      <td>{{i.valor}}</td>
		      <td><img src="{{i.imagen}}" width= 40; height = 40; alt=""></td>
		      <td><button style="font-size: 20px; padding: 0 3px;" class=" btn btn-warning"><i class="fas fa-save"></i></button> &nbsp;<button style="font-size: 20px;padding: 0 3px;" class=" btn btn-danger" (click) ="deleteLibro(i._id)"><i class="fas fa-trash"></i></button></td>


		    </tr>
<!-- 		    <tr>
		      <th scope="row">2</th>
		      <td>Jacob</td>
		      <td>Thornton</td>
		      <td>@fat</td>
		      <td>@fat</td>
		      <td>@fat</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td colspan="2">Larry the Bird</td>
		      <td>@fat</td>
		      <td>@fat</td>
		      <td>@twitter</td>
		    </tr> -->
		  </tbody>
		</table>
	</div>
		<br>
	<div class="row col-md-11">
			<h4>AGREGAR</h4>
		<form class="row g-1" id="agregarDatos">
		  <div class="col-6">
		    <label for="titulo-libro" class="form-label">Título</label>
		    <input [(ngModel)] = "titulo" (ngModelChange) = "titulo = $event" [ngModelOptions] = "{standalone : true}" type="text" class="form-control" id="titulo-libro" placeholder="Digite Nombre del Libro">
		  </div>
		  <div class="col-6">
		    <label for="genero-libro" class="form-label">Género</label>
		    <input [(ngModel)] = "genero" (ngModelChange) = "genero = $event" [ngModelOptions] = "{standalone : true}" type="text" class="form-control" id="genero-libro" placeholder="Digite Género" required>
		  </div>

		  <div class="col-6">
		    <label for="autor-libro" class="form-label">Autor</label>
		    <input required [(ngModel)] = "autor" (ngModelChange) = "autor = $event" [ngModelOptions] = "{standalone : true}" type="text" class="form-control" id="autor-libro" placeholder="Digite Autor">
		  </div>

		  <div class="col-6">
		    <label for="valor-libro" class="form-label">Valor</label>
		    <input [(ngModel)] = "valor" (ngModelChange) = "valor = $event" [ngModelOptions] = "{standalone : true}" type="text" class="form-control" id="valor-libro" placeholder="Digite Valor">
		  </div> 
		  <div class="col-6">
		    <label for="valor-libro" class="form-label">Cantidad</label>
		    <input [(ngModel)] = "cantidad" (ngModelChange) = "cantidad = $event" [ngModelOptions] = "{standalone : true}" type="text" class="form-control" id="cantidad-libro" placeholder="Digite Cantidad">
		  </div> 
		  <div class="col-6 " id="lastDiv">
		    <label for="imagen-libro" class="form-label">Imagen</label>
		    <input [(ngModel)] = "imagen" (ngModelChange) = "imagen = $event" [ngModelOptions] = "{standalone : true}" type="text" class="form-control" id="imagen-libro" placeholder="Url">
		  </div>	
		  <br>
		  <div class="col-1 ">
		    <button   type="reset" id="boton-reset" class="btn btn-primary sobre">Limpiar</button>
		  </div>

		  <div class="col-2 ">
		    <button  (click) ="guardarLibro()" type="submit" id="boton-enviar" class="btn btn-primary sobre">Ingresar Libro</button>
		  </div>
		  
		</form>
	</div>	

	</div>


	
</section>

<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Inventario de Librerías:
    <a class="text-dark" href="#">Todos los derechos reservados.</a>
  </div>
  <!-- Copyright -->
</footer>


<router-outlet></router-outlet>